*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}


body{
    font-family: 'Montserrat', sans-serif;
}
@media (max-width:1200px){
    .container{
        max-width: 970px;
    }
}
@media (max-width:992px){
     .container{
         max-width: 750px;
     }
 }
 @media (max-width:767px){
     .container{
         max-width: none;
     }
 }
/*<header>
 <div class="header_logo"> <p>sh<span class="letter">o</span>pno</p>
                                                                </div>
                                                                  </header>*/
header{
   /* width: 100%;*/
    /*width: 1170px;*/
    background: #eff0f2;
/*    display: flex;*/
    padding: 64px 0;
}
.letter{
    color: #77efe5;
    font-size: 21px;
}
.header_logo {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 400;
   /* margin-top: 64px;
    margin-left: 10.4%;*/
    border: 4px solid black;
    padding-left: 10px;
    padding-top: 6px;
}
.let{
    margin: 0 auto;
    display: flex;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 400;
    /* margin-top: 64px;
     margin-left: 10.4%;*/
    border: 4px solid black;
    padding-left: 10px;
    padding-top: 6px;
}
main{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 1170px;
}
main .main_welcome{
    background: #eff0f2;
    text-align: center;
    padding: 206px 0 388px 0;
}
main .main_welcome h1 {
    text-transform: uppercase;
    font-size: 45px;
    padding-top: 6px;
}
 .SHOPNO{

 }
.lor h1{
    text-align: center;
    padding: 128px 0 0 0;
}
.lor p{
    text-align: center;
}
.about_us{
   /* text-align: center;*/
    /*padding: 92px 125px 0 0;*/
    width: 80%;
    margin: 0 auto;
    padding: 92px 125px 0 0;
}
.about_right{
    text-align: center;
    padding: 128px 0 0 0;
}